In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import glob
from pprint import pprint
from datetime import datetime

%matplotlib inline

In [2]:
DIRE_PATH = './csv-files/'

In [3]:
col_names = ['name', 'level', 'id', 'pv', 'ogv', 'pgv', 'auto-send', 'actions']
df = pd.DataFrame(columns = col_names)
all_files = glob.glob(DIRE_PATH + "/*.csv")
for filename in all_files:
    data = pd.read_csv(filename)
    data = pd.DataFrame(data[:][3:].values, columns = col_names)
    filename = filename.split(DIRE_PATH)[1]
    filename = filename.split('.')
    data['date'] = filename[0]
    frame = [df, data]
    df = pd.concat(frame)

In [4]:
df['date'] = df['date'].apply(lambda x: datetime(2000 + int(x.split('-')[1]), int(x.split('-')[0]), 1))

In [5]:
df.drop('actions', axis=1 ,inplace=True)

In [6]:
df['auto-send'] = df['auto-send'].fillna(0)
df['auto-send'] = df['auto-send'].apply(lambda x: True if int(x) > 0 else False)

In [7]:
money_col = ['pv', 'ogv', 'pgv']
for col in money_col:
    df[col] = df[col].apply(lambda x: str(x).replace(',', ''))
    df[col] = df[col].apply(lambda x: float(x))

In [8]:
df[['id', 'level']] = df[['id', 'level']].astype(int)

In [9]:
df['name'] = df['name'].astype(str)

In [10]:
df.reset_index(drop=True, inplace=True)

In [11]:
df['name'].unique()

array(['JIMENA PLAZA', 'ISABEL TERESA PLAZA URRUTIA',
       'MONIKA ROSITA POTRATZ', 'AMANDA FERNANDEZ',
       'JOHANNA ECHEVERRI LOZANO',
       'MONICA MARIELA REYES RANGEL DE STRÜMPELL', 'HEIKE RUDEL-WENDLAND',
       'MARÍA JESÚS BUSTOS', 'SUSANA PANEA', 'MARAHRENS, ANKE',
       'ANA VICTORIA HUESPE', 'NATALIA DALUICIS',
       'DANIELA CAROLINA CAMARGO HERNÁNDEZ',
       'LUZ NATHALIA GUERRERO ORBES', 'JAIME ARTURO GUERRERO PÉREZ',
       'WOLF LOEFFELHOLZ', 'BARBARA VON LOEFFELHOLZ',
       'CLAUDIA REGINA CONTRERAS', 'CRISTINA BUCARDO',
       'CAROLINA DOMÍNGUEZ ALARCÓN', 'ALARCON GUTIERREZ, MARIA DEL PILAR',
       'VICTORIA EUGENIA PLAZA', 'MARTA BARBA SERRANO', 'ELENA PALACIOS',
       'LOURDES GÓMEZ MARTÍN', 'ANA ZORITA', 'ROCÍO ZORITA',
       'CLARA INES TROCONIS', 'ISABEL GRATEROL', 'MILAGROS RIO',
       'VICKY PLAZA', 'EVA JULIAN', 'CRIS GONZALEZ CAMPINS',
       'CARMEN M PLAZA', 'ANA MARGARITA AURRECOECHEA',
       'ELIA CAROLINA PLAZA', 'MARIANGELA GULL', 'JESSICA ROSSI',
       'MARIA SOLEDAD HERNANDEZ RODRIGUEZ', 'GINA URRUTIA'], dtype=object)

In [31]:
df.iloc[36]

name                JIMENA PLAZA
level                          0
id                      18871846
pv                        108.75
ogv                       2155.5
pgv                       2155.5
auto-send                   True
date         2020-05-01 00:00:00
Name: 36, dtype: object

In [33]:
business_total_time = (df['date'].max()-df['date'].min()).days
total_pv = df['pv'].sum()
members = df['name'].nunique()

In [34]:
(members / business_total_time)*30

4.938271604938271

In [35]:
business_total_time

243

In [36]:
compression_opts = dict(method='zip',
                        archive_name='out.csv')  
df.to_csv('out.zip',
          index=True,
          compression=compression_opts)